{% extends 'base.html.twig' %}

{% block title %}Nos Praticiens{% endblock %}

{% block body %}

    <!-- section photo et rdv -->
    <div class="container praticiens">
        <div class="rdv-praticiens">
            <div class="text-rh-pt">
                <p><span>Une clinique à votre service,</span> <br>prenez rendez-vous avec <br> vos professionnels de santé</p>
            </div>
            <div class="form_control formu">
                <input type="text" name="praticien" id="praticien" placeholder="Rechercher un praticien">
                <input type="text" name="localisation" id="localisation" placeholder="Votre localisation"><br>
                <input class="rechercher" type="button" value="Rechercher">
            </div>
        </div>
    </div>

    <!-- Titre et 3 images présentation de section -->
    <div class="container clinique-regroupe">
        <div class="container clr-1">
            <p class="">Notre clinique regrouge</p>
            <hr color="#1F3D89" width="70px">
        </div>
        <div class="container clr-2">
            <div class="clr-21">
                <img class="picto-pt" src="../images/medecin.jpg" alt="">
                <p>Médecin</p>
            </div>
            <div class="clr-22">
                <img class="picto-pt" src="../images/kine.jpg" alt="">
                <p>Kinésithérapeute</p>
            </div>
            <div class="clr-23">
                <img class="picto-pt" src="../images/dentiste.jpg" alt="">
                <p>Dentiste</p>
            </div>
        </div>
    </div>

    <!-- carousel Médecin -->
    <div class="container medecin">
    <!-- fond -->
        <div class="container md-1">
            <h2>Nos médecins</h2>
            <hr color="#FFFFFF" width="70px">
        </div>

        <!-- card -->
      {#}   <div class="container md-2">
          {% for userproMed in userproMeds %}
            {% if userproMed.isVerified %}
            <div class="card">
                <h3 style="color:#1F3D89; text-align:center;">Dr. {{ userproMed.lastname|upper }}</h3>
                <img class="card-img-top" src="../images/portrait.jpg" alt="">
                <a class="btn btn-pt btn-primary" href="{{ path('praticien', {id: userproMed.id}) }}">En savoir plus</a>
            </div>
            {% endif %}
          {% endfor %}  
        </div> #}

        <div id="carouselExampleIndicatorsMedecin" class="carousel slideMedecin" data-ride="carousel">
            <ol class="carousel-indicators-Medecin">
                <li data-target="#carouselExampleIndicatorsMedecin" data-slide-to="0" class="active-Medecin"></li>
                <li data-target="#carouselExampleIndicatorsMedecin" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicatorsMedecin" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner-Medecin">
                <div class="carousel-item activeMedecin">
                  {% for userproMed in userproMeds %}
                     {% if userproMed.isVerified %}
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr. {{ userproMed.lastname|upper }}</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <a class="btn btn-pt btn-primary" href="{{ path('praticien', {id: userproMed.id}) }}">En savoir plus</a>
                    </div>
                    {% endif %} 
                  {% endfor %}
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev-Medecin" href="#carouselExampleIndicatorsMedecin" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon-Medecin" aria-hidden="true"></span>
                <span class="sr-only-Medecin">Previous</span>
            </a>
            <a class="carousel-control-next-Medecin" href="#carouselExampleIndicatorsMedecin" role="button" data-slide="next">
                <span class="carousel-control-next-icon-Medecin" aria-hidden="true"></span>
                <span class="sr-only-Medecin">Next</span>
            </a>
        </div>

    </div>

    <!-- carousel Kiné -->
    <div class="container kine">
    <!-- fond -->
        <div class="container k-1">
            <h2>Nos kinésitherapeutes</h2>
            <hr color="#1F3D89" width="70px">
        </div>

        <!-- card -->
        <div class="container k-2">
          {% for userproKin in userproKins %}
             {% if userproKin.isVerified %}
            <div class="card">
                <h3 style="color:#1F3D89; text-align:center;">Dr. {{ userproKin.lastname|upper }}</h3>
                <img class="card-img-top" src="../images/portrait.jpg" alt="">
                <a class="btn btn-pt btn-primary" href="{{ path('praticien', {id: userproKin.id}) }}">En savoir plus</a>
            </div>
            {% endif %} 
          {% endfor %} 
        </div>
    </div>

    <!-- carousel Dentiste -->
    <div class="container dentiste">
    <!-- fond -->
        <div class="container dt-1">
            <h2>Nos dentistes</h2>
            <hr color="#FFFFFF" width="70px">
        </div>

        <!-- card -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    {% for userproDen in userproDens %}
                       {% if userproDen.isVerified %}
                      <div class="card">
                           <h3 style="color:#1F3D89; text-align:center;">Dr. {{ userproDen.lastname|upper }}</h3>
                           <img class="card-img-top" src="../images/portrait.jpg" alt="">
                           <a class="btn btn-pt btn-primary" href="{{ path('praticien', {id: userproDen.id}) }}">En savoir plus</a>
                        </div>
                       {% endif %} 
                    {% endfor %}
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                    <div class="card">
                        <h3 style="color:#1F3D89; text-align:center;">Dr.JAILMAL</h3>
                        <img class="card-img-top" src="../images/portrait.jpg" alt="">
                        <button class="btn btn-pt btn-primary">En savoir plus</button>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

    <!-- container information -->
    <div class="container quelque-info">
        <div class="container qi-1">
            <p class="">Quelques informations</p>
            <hr color="#1F3D89" width="70px">
        </div>
        <div class="container qi-2">
            <div class="infos-pt">
                <div class="info">
                    <h3><span>Horaires :</span></h3>
                    <p>Lundi : 9h-20h<br>Mardi : 9h-20h<br>Mercredi : 9h-20h<br>Jeudi : 9h-20h<br>Vendredi : 9h-20h<br>Samedi : 9h-13h<br>Dimanche : / </p>
                </div>
                <div class="info">
                    <div class="info-1">
                        <h3><span>Contact :</span></h3>
                        <p>T. +33 (0)4 79 25 37 30 <br>F. +33 (0)4 79 25 37 31 <br> E.mail : contact@clinikall.com</p>
                    </div class="info-2">
                        <h3><span>Adresse :</span></h3>
                        <p>139 Rue de la Grande Chartreuse, <br> 73230 Saint-Alban-Leysse</p>
                    <div>
                </div>
                
                </div>
            </div>
            <div class="photo-pt">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2792.471531099307!2d5.950685515632348!3d45.58106493365869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ba8b9ce583115%3A0xe71b8d2cb9969737!2s139%20Rue%20de%20la%20Grande%20Chartreuse%2C%2073230%20Saint-Alban-Leysse!5e0!3m2!1sen!2sfr!4v1610619075533!5m2!1sen!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>

    <!-- carousel newsletter -->
    <div class="container newsletter-subscribe">
        <div class="intro">
            <h2 class="text-center">Inscrivez vous à la newsletter</h2>
        </div>
        <div class="formulaire-news">
            <form class="form-inline" method="post">
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Inscrivez votre email ..."><button class="btn btn-primary" type="submit">Envoyer</button></div>
        </form>
        </div>
    </div>

{% endblock %}
