{% extends 'base.html.twig' %}

{% block title %}Réservation date{% endblock %}

{% block body %}
<div class="container register text-dark">
<div class="d-flex justify-content-between w-100">
<a class="btn btn-primary" href="{{ path('reservation_agenda',{id: praticien.id,date: previousday|date('Y-m-d') }) }}"><i class="fas fa-arrow-left"></i>Précédent</a>
<h1 class="h1-register">{{ date|date('d-m-Y') }}</h1>
<a class="btn btn-primary"href="{{ path('reservation_agenda',{id: praticien.id,date: nextday|date('Y-m-d') }) }}" ><i class="fas fa-arrow-right"></i>Suivant</a>
</div>

 <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      {% for horaires_rdv in horaires_rdvs %}
          <li class="list-group-item">{{ horaires_rdv }}h<a class="btn btn-success w-30" href="{{ path('reservation_date',{id: praticien.id,date: date|date('Y-m-d'),hour: horaires_rdv}) }}">Réserver</a></li>
        {% endfor %}
     </ul>   

</div>
</div>

 

{% endblock %}