{% extends 'base.html.twig' %}

{% block title %}Formulaire rendez-vous{% endblock %}

{% block body %}

    <div class="container register text-dark">
        <h1 class="h1-register">Prise de RDV avec le praticien {{ rdv.praticien.firstname }}  {{ rdv.praticien.lastname|upper }}</h1>
        <h3> le {{ rdv.day|date('d-m-Y') }} à {{ rdv.hour }}h<h3>

        {{ form_start(RDVForm) }}

            {{ form_row(RDVForm.message) }}

            <button class="btn btn-login" type="submit">Valider</button>
            </br></br>
        {{ form_end(RDVForm) }}

    </div>
    
{% endblock %}
