{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

        <div class="container espace-user">

                <h1 class="h1-espace-user">Mon compte</h1>

                <div class="card-group info-user">

                        <div class="card-body card-user">
                                <h5 class="card-title">{{ user.lastname }} {{ user.firstname }}</h5>
                                
                                <p class="card-text">Tél. : 0{{ user.phone }}</p>
                                <p class="card-text">Email : {{ user.email }}</p>
                                <p class="card-text">Adresse : {{ user.adress }}</p>
                                <p class="card-text">Ville : {{ user.city }}</p>
                                <p class="card-text">CP : {{ user.codePostal }}</p>

                                <a href="{{ path('user_modify',{id:user.id}) }}" class="btn btn-danger">Modifier votre compte</a>
                        </div>
                                
                </div>
        </div>

{% endblock %}

